body{
    margin: 0;
    font-family: sans-serif;
    color: red;
}

header{
    display: none;
}

#entrada{
    display: flex;
}

header, #entrada{
    flex-direction: column;
    width: 100%;
    background-color: lightgray;
    height: 200px;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-size: 20pt;
}

nav a:hover{
    color: green;
}

#entrada p{
    font-size: 20pt;
}